<footer div class="bg-white container">
    <div class="row pt-3">
       <div class="col-9">
           <p class="font-weight-bold">About</p>
           <p>
               "Whatsapp Analyzer" is a data visualisation tool that lets you
                explore group conversations history. It show insights about
                who posted the most, when, what kind of words they used
                and what are the main topics of the conversation.
                It's built in Python using mainly Flask and Plotly libraries.
                <br>The code is open source and available on my Github.
           </p>
       </div>

        <div class="col-3">
            <p class="font-weight-bold">More</p>

            <ul class="list-unstyled">
                <li class="list-item"><i class="fab fa-github"></i> <a href="">Github</a></li>
                <li class="list-item"><i class="fab fa-linkedin"></i> <a href="">Linkedin</a></li>
                <li class="list-item"><i class="fab fa-instagram"></i> <a href="">Instagram</a></li>
                <li class="list-item"><i class="fab fa-youtube"></i> <a href="">YouTube</a></li>
            </ul>
        </div>

    </div>

    <div class="row text-center">
        <div class="col">
           <p>Copyright: Eric Daoud, 2021</p>
       </div>
    </div>

</footer>
